*{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:url(../Images/bottom.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;

}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000000;

}
.rotated-text{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotated-text h1{
    transform: rotate(-90deg);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 25px;
    color: #129c8e31;
    margin-bottom: -600px;
}
.nabver{
    width: calc(100% - 100px);
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}
.nabver img{
    height: 12vw;
}
.nav-list{
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 40px;
    color:  #474747;
    font-family: Open Sans;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
    
}
.list li a{
    text-decoration: none;
    color:  #474747;
}
.list li{
  padding: .6vw;
  border: .2vw solid transparent;
  border-radius: 5px;
  display: flex;
}
.list li:hover{
  border: .2vw solid #129c8e;
  box-shadow: rgba(18, 156, 143, 0.25) 0px 25px 55px, rgba(18, 156, 143, 0.12) 0px -12px 30px, rgba(18, 156, 143, 0.12) 0px 4px 6px, rgba(18, 156, 143, 0.17) 0px 12px 13px, rgba(18, 156, 143, 0.09) 0px -3px 5px;
}
.head{
    display: flex;
} 

.button-29 {
  align-items: center;
  appearance: none;
  background-color: #129C8F;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.4vw;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.main{
  position: relative;
  display:flex;
  right: -200px;
  width:calc(100% - 200px) ;
  height:calc(100vh - 12vw) ;
  justify-content: space-between;
}

.main-part{
    width: 40%;
    height: 100%;
 
 
}
.main-part h4{
    color: #064e47;
    font-size: 3vw;

}
.main-part h1{
    color: #129C8F;
    font-size: 6vw;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 20px;}
.main-part p {
    color:  #474747;
    font-size: 1.2vw;
    margin-top: 10px;
}
.main-part button{
    margin-top: 20px;
    margin-right: 20px;
}
.button-29 i{
    margin-right: 4px;
}
.phone{
    align-items: center;
    appearance: none;
    border: 1px solid #129C8F ;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 4vw;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1.4vw;
}
  
  .phone:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  
  .phone i{
    margin-right: 4px;
  }
  .about{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    color: wheat;
   
  }
  .main-about{
    width: 1000px;
    height: 450px;
    background-color: #064e4771; 
    margin: auto 0px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .about-data h2{
    color: #129C8F;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
  }
  .about-data p{
    font-size: 18px;
    color:#7a7878 ;
  }
  .about-data{
   text-align: center;
  }
  .data{
    display:flex;
    justify-content: space-evenly;
  }
  .data div{
    text-align: center;
  }

  .data div h4{
    color: rgb(18, 156, 143);
    font-size: 18px;
  }
  .data div h2{
    font-size: 22px;
    color:#7a7878 ;
  }
  .what-i-do{
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .what-i-do-area{
    height: 100%;
    padding: 30px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .skill{
    width: 23%;
    margin-left: 20px;
    padding: 30px;
    box-shadow: rgba(18, 156, 143, 0.25) 0px 25px 55px, rgba(18, 156, 143, 0.12) 0px -12px 30px, rgba(18, 156, 143, 0.12) 0px 4px 6px, rgba(18, 156, 143, 0.17) 0px 12px 13px, rgba(18, 156, 143, 0.09) 0px -3px 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
  }
  .skill-card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .skill:hover {
    transform: translateY(-5px);
    border: 2px solid #129C8F;
  }
  .skill P{
    font-size: 14px;
    color: #474747;
    font-weight: 600;
  }
  .skill h3{
     margin: 10px 0px;
     color: #064e47;
  }
  .what-i-do-text{
    text-align: center;
  }
  .what-i-do-text h3{
    font-size: 35px;
    color: #129C8F;
    margin-bottom: 20px;
    font-weight: 700;
}
.what-i-do-text p{
    color: #7a7878;
    font-size: 18px;
    margin-bottom: 20px;
}
.skill img{
    width: 25%;
}
.resume{
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
 
}
.resume > div{
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.res-summary-1, .res-summary-2{
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
.sum {
  display: flex;
}
.resume-data{
  padding: 10px 0px;
}
.resume-data p{
  font-size: 14px;
  color: #7a7878;
}
.resume-data h4{
  color: #056e6471;
}
.resume-data h6{
  color: #474747;
  margin-bottom: 6px;
}
.resume > div >h3{
  color: #129C8F;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}
.res-summary-1 h3{
  color: #064e47;
  font-size: 18px;
}
.res-summary-2 h3{
  color: #064e47;
  font-size: 18px;
}


footer{
  width: 100%;
  height: 70vh;
  background-color: #064e4771; 
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
.footer-sction{
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 30px;

}
.Contact{
  width: 50%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}
.text-area{
  gap: 20px;
  padding: 20px;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}
.text-area button{
  width: 20%;
}
.text-area  h2, .Contact h2{
  color: #129C8F;
  font-size: 30px;
}
.Contact p{
  color: #7a7878;
}
.text-area input{
  padding:10px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.text-area textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding:10px;
  color: #064e47;
}
.icons{
  display: flex;
  gap: 40px;
  font-size: 30px;
  color: #129c8e;
}